@import url("https://googleapis.com");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --breakpoint-md: 880px;
  --border-width-thin: 0.5px;
  --color-button: #21c45d;
}
